body {
  font-size: 150%;
}

.listcontainer li {
  border: 3px solid black;
  font-size: 100%;
  margin: 5px;
  padding: 5px;
  width: 100%;
}

.listcontainer {
  display: flex;
  flex-direction: column;
}

.listcontainer button {
  float: right;
}

.read {
  background-color: gray;
}
