body {
  font-size: 150%;
  margin-top: 20px;
}

.inputcontainer {
width: 90%;
outline: 4px solid black;
margin: auto;
}

.listcontainer li {
  border: 3px solid black;
  font-size: 100%;
  padding: 5px;
  width: 90%;
  margin: 5px auto 5px auto;
  flex-wrap: wrap;
  display: flex;
}


.listcontainer {
  margin-top: 20px;
}

.listcontainer button {
  /*margin-left: auto;*/
}

.read {
  background-color: gray;
}

.buttonwrapper {
  /*float: right;
  flex-wrap: wrap;
  display: flex;*/
  flex: 1;
}

.datawrapper{
  flex: 3;
}
